<h3 class="center indigo-text text-lighten-2">Welcome</h3>
<p class="center">Page of Reason was created for you to keep track of books you've read and your opinions of them.</p>

<img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555286397/shape/mentalfloss/istock-464615957_0.png" alt="library stacks" class="center">