<h3 class="center indigo-text text-lighten-2">Welcome <%= @user.username %>!</h3>
<p class="center">You can always return to this page by clicking the "Home" link above.</p>
<br>
<h5> Books You've Added: </h5>
<% @user.books.each do |b| %>
    <li><%= link_to b.title_and_author, book_path(b) %></li>
<% end %>
<br>
<h5> Books You've Reviewed: </h5>
<% @user.reviewed_books.each do |rb| %>
    <li><%= link_to rb.title_and_author, review_path(rb) %></li>
<% end %>
