<h1>All Reviews</h1>

<% @books.each do |b| %>
    <h3><%= link_to b.title, book_path(b) %></h3>
    <ul>
    <% b.reviews.each do |br| %>
        <li><%= link_to br.title, review_path(b) %> </li>
    <% end %>
    </ul>
    <br>
<% end %>
