<h3 class="center">All Reviews</h3>

<% @books.each do |b| %>
    <h5><%= link_to b.title, book_path(b) %></h5>
    
    <% b.reviews.each do |br| %>
        <li><%= link_to br.title, review_path(br) %> </li>
    <% end %>
    
    <br>
<% end %>
